body {
  background: rgb(41,36,129);
  background: linear-gradient(124deg, rgba(41,36,129,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.app {
  background-color: #435B66;
  width: 500px;
  min-height: 250px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  text-align: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  position: relative;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #405660;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border: 5px solid #2c3f52;
  cursor: pointer;
}

.correct-answer {
  background-color: #2f922f;
  border-color: #2f922f;
}

.incorrect-answer {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.correct-answer::before,
.incorrect-answer::before {
  content: "\2714";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #2f922f;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.incorrect-answer::before {
  content: "\2718";
  background-color: #e74c3c;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.actions {
  display: flex;
  margin-top: 15px;
}

.actions button {
  background-color: #435B66;
  justify-content: center;
}

.actions button:hover {
  background-color: #5783db;
  color: white;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .app {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .question-count span {
    font-size: 24px;
  }

  .question-text {
    font-size: 18px;
  }

  button {
    font-size: 14px;
  }
}
